# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

dash==1.16.1
dash-core-components==1.12.1
dash-extensions==0.0.31
dash-html-components==1.1.1
dash-renderer==1.8.1
dash-table==4.10.1
flask==1.1.2
flask-caching==1.9.0
flask-compress==1.5.0
gunicorn==20.0.4
numpy==1.19.1
pandas==1.1.1
pickleshare==0.7.5
pip==20.2.2
plotly==4.10.0
scikit-learn==0.23.2
scikit-survival==0.13.1
scipy==1.5.2
urllib3==1.25.10
yaml==0.2.5

